.home-news{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.widget-area-home{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .widget_block{
        background-color: #22152c;
        box-shadow: 0 10px 27px 0 rgba(14, 8, 18, 0.5);
        padding: 1rem;
        h2{
            position: relative;
            padding-left:0.5rem;
        }
        h2::before{
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            content: '';
            height: calc(100% - 11px);
            width: 3px;
            background-color: #6b54b6;
        }
    }

    .widget_categories{
        .wp-block-categories{
            display: flex;
            flex-direction:column;
            gap: 1rem;
            a{
                color: #fff;
                font-weight: bold;
                transition: all 0.5s;
            }
        }
    }
    .widget_tag_cloud{
        .wp-block-tag-cloud{
            .tag-cloud-link{
                color: #fff;
                font-size: 0.9rem !important;
                transition: 0.5s all;
            }
            .tag-cloud-link::after{
                content: " / ";
            }
        }
    }
}



@media only screen and (min-width: 1020px){
    .wrapper-widget-home{
        width: 25%;
        height: 100%;
        z-index: 1;
        position: sticky;
        top: 1rem;
    }
    .home-news{
        flex-direction: row;
    }
    .widget-area-home{
        .widget_categories{
            .wp-block-categories{
                a:hover{
                    color: #7228e2;
                }
            }
        }
        .widget_tag_cloud{
            .wp-block-tag-cloud{
                .tag-cloud-link:hover{
                    color: #7228e2;
                }
            }
        }
    }
}