.wp-block-quote{
    cite{
        font-size: 0.75rem;
        font-weight: bold;
    }
}
.wp-block-table{
    .has-fixed-layout{
        thead{
            tr{
                border-bottom: 1px solid;
            }
        }
        th{
            padding:0.5rem;
        }
        td{
            padding:0.5rem;
        }
    }
    figcaption{
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
    }
}
.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1){
    background-color: #22152c;
}
.wp-block-embed{
    display: flex;
    flex-direction: column;
    align-items: center;
    figcaption{
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
        font-style: italic;
    }
}
.wp-block-code{
    code{
        font-style: italic;
    }
}
.single__content{
    ol, ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left:2rem;
    }
    ul{
        list-style: disc;
    }
    a{
        color: #fff;
        font-weight: bold;
        font-style: italic;
    }
}
.wp-block-gallery{
    .blocks-gallery-grid{
        flex-direction: row;
        padding-left:0;
        gap:0;
    }
}
.wp-block-embed-reddit{
    .wp-block-embed__wrapper{
        .embedly-card{
            background-color: #fff;
            box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.5);
        }
    }
}
.wp-block-verse{
    font-style: italic;
}
.wp-block-media-text{
    margin: 1rem 0;
}