.site-header{
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-nav{
    display: none;
}

@media only screen and (min-width: 1020px){
    .menu-nav{
        display: flex;
        gap: 1rem;
        .nav-menu-desktop{
            display: flex;
            gap: 1rem;
            li{
                a{
                    color:#fff;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
    }
}