.site-header{
    background-color: #1b0f23;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 2;
}
.menu-nav{
    display: none;
}

@media only screen and (min-width: 1020px){
    .site-header{
        .theme-logo{
            width: 6rem;
        }
    }
    .menu-nav{
        display: flex;
        gap: 1rem;
        .nav-menu-desktop{
            display: flex;
            gap: 1rem;
            li{
                height: 100%;
                transition: all 0.7s;
                padding: 0 0.5rem;
                position: relative;
                a{
                    color:#fff;
                    font-size: 1rem;
                    font-weight: bold;
                    line-height: 6rem;
                    display:flex;
                    justify-content:center;
                }
            }
            .menu-item::after{
                content: '';
                position: absolute;
                bottom: 1rem;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 4px;
                background-color: #7228e2;
                transform-origin: left;
                transform: scaleX(0);
                transition: 0.5s cubic-bezier(.47,.11,0,.96);
            }
            .menu-item:hover::after{
                transform: scaleX(1);
            }
            .open-search{
                background-color: transparent;
                border: none;
                cursor: pointer;
                line-height: 6rem;
                width: 2rem;
                img{
                    width: 1rem;
                }
            }
        }
    }
}